*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    align-items: center;   
    z-index: 999;

}

header{
    height: 700px;
}

.logo{
    width: 110px;
    object-fit: contain;
    margin-left: 60px;
}

.profile{
    width: 30px;
    object-fit: contain;
    border-radius: 4px;
}

.menu_esquerdo{
    width: 70%;
}


.menu_esquerdo li{
    list-style: none;
    display: inline;
    margin:8px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;


}

.menu_esquerdo li:hover{
    color:  rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.menu_direito{
    list-style: none;
    width: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    color: #fff;
    cursor: pointer;
}


video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.banner_texto{
    color: #fff;
}

.button1, .button2{
    cursor: pointer;
    color: #fff;
    border:none;
    font-weight: none;
    border-radius: 3px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(105, 95, 95, 0.5);
    font-size: 20px;

}

.button1{
    color: #111;
    background-color: #fff;
}

.button1:hover{
    background-color: rgba(251, 251, 251, 0.5);
    transition: 0.5s;
}

.button2:hover{
    background-color: rgba(39, 39, 39, 0.5);
    transition: 0.2s;
}

.banner_info{
    z-index: 2;
    position: absolute;
    margin-top: 150px;
    width: 600px;

}

.banner_info p{
    margin-left: 50px;
    font-size: 20px;
    width: 650px;
    object-fit: contain;
}
.banner_info h3{
    margin-left: 50px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 20px #000 ;
      
}

.buttons{
    margin-left: 25px;
    margin-top: 20px;
}

.banner_titulo img{
    width: 40%;
    margin-left: 55px;
   
}

.desvanecer{
    position: absolute;
    z-index: 4;
    margin-top: 590px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37,37, 0.7), #111);
}

.blocos{
    position: absolute;
    z-index: 4;
    color: #fff;
    margin-left: 20px;
}

.blocos h3{
    margin-left: 20px;
    font-size: 20px;
    font-weight: none;
}

.quadro{
    width: 100%;
    object-fit: contain;
    max-width: 260px;
    margin-right: 10px;
    border-radius: 3px;

}

.quadro:hover{
    transform: scale(1.3);
    
}
.quadros{
    display: flex;
    overflow-x: scroll; /*fara com que traga um scroll horizontal*/
    padding: 20px;
    
}

.quadros::-webkit-scrollbar{
    width: 0;
}

.scroll{
    background-color: rgba(51, 51, 51, 0.5);
    color:#fff;
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 30px;

}

.blocos::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    z-index: 99;
    height: 200px;
    width: 100px;
    background-image: linear-gradient(90deg, #000, transparent);
    transform: scale(1.3);

}


.fileira{
    z-index: 7;
    width: 100%;
    position: relative;
    margin-top: 220px;

}

.fileira2{
    z-index: 7;
    width: 100%;
    margin-top: 450px;

}

.nav_black{
    background-color: #111;
}


